body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #7f8c8d;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin-top: 10px;
    font-weight: lighter;
}

section {
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h3 {
    font-size: 1.8em;
    color: #2c3e50;
    text-align: center;
}

.notes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.note {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 40px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #2ecc71;
}

#aroma {
    font-size: 1.5em;
    color: #2980b9;
    text-align: center;
    margin-top: 20px;
}
